$bg-color-main: #81b3d2;
$bg-color-main--hover: #669ec0;
$bg-color-main--active: #5496bd;
$bg-color-disabled: #e5e5e5;
$bg-color-alternative: #eeeeee;
$bg-color-white: #ffffff;
$bg-color-grey: #f2f2f2;
$bg-color-darkgrey: #eaeaea;
$bg-color-lines: #dbdbdb;

/*Цвета для фона форм*/
$input-bg-color: #f2f2f2;
$input-bg-color--hover: #e5e5e5;
$input-bg-color--active: #d5d5d5;
$input-bg-color--info: #e6e6e6;

/*/Цвета кнопок в плеере*/
$control-mobile: #5c6870;
$control-mobile--hover: #333333;

$text-color-gray: #333333;
$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-blue: #81b3d2;
$text-color--active: #766357;
$text-color--active--hover: #604e43;
$text-color--active--down: rgba(118, 99, 87, 0.3);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
