.button {
  display: inline-block;
  box-sizing: border-box;

  min-width: 280px;
  min-height: 58px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-color-white;
  background-color: $bg-color-main;

  &:hover,
  &:focus {
    outline: none;
    background-color: $bg-color-main--hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: $bg-color-main--active;
  }

  &:disabled {
    background-color: $bg-color-disabled;
  }

  &--text-small {
    font-size: 18px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
    }
  }

  &--width-medium {
    min-width: 180px;

    @media (min-width: $tablet-width) {
      min-width: 272px;
    }
  }
}
