.description {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-height: 256px;
  }

  &--grey:not(:last-child)::after {
    @media (max-width: $mobile-width-only) {
      content: "";

      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;

      height: 1px;
      background-color: rgba(1, 1, 1, 0.1);
    }
  }
}

.description__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
  min-height: 191px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $bg-color-main;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding-left: 43px;
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-left: 68px;
    padding-right: 68px;
  }

  &--grey {
    background-color: $bg-color-alternative;
  }

  &--small {
    min-height: 168px;

    @media (min-width: $desktop-width) {
      padding-left: 53px;
      padding-right: 53px;
    }
  }
}

.description__image {
  display: block;
  width: 320px;
  height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    min-height: 256px;
    width: 800px;
  }

  &--order {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }
}

.description__slogan {
  margin-top: 39px;
  margin-bottom: 10px;

  @include slogan($text-color-white);

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 46px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    padding-left: 57px;
    padding-right: 57px;
  }

  &--black {
    margin-top: 28px;
    color: $text-color-black;

    @media (min-width: $tablet-width) {
      margin-top: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 45px;
      padding-left: 72px;
      padding-right: 72px;
    }
  }
}

.description__number {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 21px;
  color: $text-color-white;

  &::before,
  &::after {
    content: "";

    width: 9px;
    height: 2px;
    margin-left: 6px;
    margin-right: 6px;

    background-color: $bg-color-white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  &--grey {
    color: $text-color-gray;

      &::before,
      &::after {
    background-color: $text-color-gray;
    }
  }
}

.description__text {
  margin-top: 0;
  margin-bottom: 35px;
  line-height: 21px;
  color: $text-color-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  &--grey {
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    color: $text-color-gray;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
      padding-left: 12px;
      padding-right: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &--padding {
    @media (min-width: $desktop-width) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &--paddng--zero {
    @media (min-width: $tablet-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
