.like {
  position: relative;
  padding-top: 1px;
  padding-left: 37px;
  padding-right: 20px;
  font-weight: bold;
  color: $text-color-black;

  @media (min-width: $tablet-width) {
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    color: $text-color-white;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;

    width: 22px;
    height: 20px;

    opacity: 0.3;

    @media (min-width: $desktop-width) {
      opacity: 1;
      fill: $bg-color-white;
    }
  }
}
